.header {
  background-color: #563d7c;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}

.searchBar {
  background-color: white;

  span {
    background-color: white;
    border: none;
  }

  input {
    border: none;
  }
}
